/*color palett*/
.black {
  background-color: #040404 ;
}
.oriental-pink {
  background-color: #c98e8e ;
}
.stiletto {
  background-color: #9e3636 ;
}
.wild-sand {
  background-color: #f6f5f5 ;
}
.oyster-pink {
  background-color: #e5d0d0 ;
}


header {
  font-family: 'Codystar', cursive;
  color: #ffa500;
  font-weight: 600;
}

body {
  background-color: #9e3636;
  font-family: arial, verdana, sans-serif;
}

.header {
  font-family: 'Covered By Your Grace', cursive;
  color: #b30000;
}

h3 {
  color: #ffffff;
  text-shadow: 1.25px 1.25px black;
}

#storeName {
  border: dotted 5px black;
  border-radius: 75%;
  padding: 20px;
  text-align: center;
}

img{
  opacity: 0.30;
  position: fixed;
}

div{
  margin: 20px;
}

.Location{
  display: inline-block;
  color: #e5d0d0;
}

button{
  display:block;
  float: right;
  margin: 0px 50px 50px 0px;
}
